h1{
    color:rebeccapurple;
    background-color: aquamarine;
    text-align: center;
}
h2{
    color: brown;
    background-color: antiquewhite;
    text-align: center;
}
button{
    color:rgb(6, 89, 243);
    background-color: rgb(11, 178, 184);
}
body{
    background-color:  #ff0;
}
h3{
    color: rgb(9, 2, 48);
    background-color: azure;
    text-align: center;
}
*{
    text-shadow: #ff0 ;
}
h1{
text-decoration: blueviolet wavy underline;
}
h2{
    text-decoration:red dotted underline
    }
    a {
        text-decoration:none ;
    }